@import url("https://fonts.googleapis.com/css2");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    display: flex;
}
.sideber{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sideber:hover{
    width: 240px;
    transition: 0.5s;
}
.logo {
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.activer {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.herader--title {
    color: rgba(113, 99, 186, 255);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1;
}

.searh--box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.searh--box input {
    background: transparent;
    padding: 10px;
}

.searh--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.searh--box i:hover{
    transform: scale(1.2);
}

.card-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title {
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}

.payment--card {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment--card:hover{
    transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 15px;
    font-weight: 200;
}

.amount-value {
    margin-top: 15px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.amount-value1 {
    margin-top: 30px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.icon {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.one{
    background-image: url(./up_โรงบาล.jpg);
}

.two{
    background-image: url(./up_ภาพ.jpg);
}
.blur {
    position: absolute;
    bottom: 14px;
    padding: 5px 1rem;
    margin-left: 15px;
    border-radius: 10px;
    background: rgba(201, 182, 182, 0.616);
}

.card {
    width: 300px;
    height: 143px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    padding: 1.2rem;
}

.light-red {
    background: rgb(251, 233, 233);
}

.light-purple {
    background: rgb(254, 226, 254);
}

.light-green {
    background: rgb(235, 254, 235);
}

.light-blue {
    background: rgb(236, 236, 254);
}

.dark-red {
    background: red;
}

.dark-purple {
    background: purple;
}

.dark-green {
    background: green;
}

.dark-blue {
    background: blue;
}

.graphBox {
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 20px;
}